<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS中n层树状结构解析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>004122F61DB8681D0021F7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0041230F1DB8681D0021F7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0041231A1DB8681D0021F7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
